<app-header></app-header>
  <div class="container">
    <div class="container__inner" id="top">
      <div fxHide.xs="true" class="theline"></div>
      <div
      class="container__content"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="5%"
      fxLayoutGap.xs="0"
      >
        <div fxFlex="100%"> 

        <div class="example-container mat-elevation-z8">

          <mat-table #table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.data.title }} </mat-cell>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
            <mat-cell *matCellDef="let element">${{ element.data.price }} </mat-cell>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="bedrooms">
            <mat-header-cell *matHeaderCellDef> Bedrooms</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.data.bedrooms }} </mat-cell>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="availability">
            <mat-header-cell *matHeaderCellDef> Availability </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.data.availability }} </mat-cell>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Date published. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.data.timeStamp | date : mediumDate }} </mat-cell>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="reference">
            <mat-header-cell *matHeaderCellDef> Reference </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.data.reference }} </mat-cell>
          </ng-container>
          
          <!-- Position Column -->
          <ng-container matColumnDef="offer">
            <mat-header-cell *matHeaderCellDef> Make offer </mat-header-cell>
            <mat-cell *matCellDef="let element"><button (click)="createOffer(element.data.reference)" mat-raised-button type="submit" color="primary">Make an offer</button></mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
